html{
	background-color:#F5F5F5;
}
body{
	background-color:#F5F5F5;
}

.task{
	background-color:#FACC2E;
	width: 50%;
	//margin: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	text-align:justify;
	border-radius: 12px;
	margin: 5px auto 5px auto;
	display: inline-block;
	padding: 5px;
}

.completedTask{
	background-color:lightgrey;
	width: 50%;
	//margin: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	text-align:justify;
	border-radius: 12px;
	margin: 5px auto 5px auto;
	text-decoration: line-through;
	display: inline-block;
	padding:5px;
}

.hasSub{

  -webkit-box-shadow: 10px 10px 0 0 #ECECEC;
  -moz-box-shadow: 10px 10px 0 0 #ECECEC;
  box-shadow: 5px 5px 0 0 #ECECEC; 
}
.hvr-curl-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px  #ffe6e6;
  position: relative;
}
.hvr-curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background-color: #ffe6e6;
  /* IE9 */
  background: linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px -1px 1px  #ffe6e6;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-right:hover:before, .hvr-curl-bottom-right:focus:before, .hvr-curl-bottom-right:active:before {
  width: 25px;
  height: 25px;
  background-color: #ffe6e6;
}

.btnVis,.subVis{
	visibility: visible;
	position: dynamic;
}

.btnHid,.subHid{
	visibility: hidden;
	position: dynamic;
	height: 0px;
}

img {
	margin-bottom: 5px;
	margin-right: 3px;
	cursor: pointer;
}

.main{
	text-align: center;
}




 .Modal {
 	position: absolute;
    width: 300px;
    height: 120px;
    margin:auto;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color:(236,236,236,0.7);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236,236,236,0.4);
  }
  .subTaskStackWrap{
  	text-align:right;
  	width: 50%;
  	margin: auto;

  }
  .subTaskStack{
  	width: 40%;
  	margin:auto;
  	display: inline-block;
  }

  .subTask{
  	background-color:rgba(39, 177, 190,0.5);
	//width: 20%;
	margin:5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	text-align:justify;
	border-radius: 12px;
	padding: 5px;
  }

  .spanBtn{
  	width: 100px;
  	height: 40px;
  	text-align: right;
  	display: inline-block;
  }

